.btn {
  @include font-size(18);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  border-radius: 30px;
  font-family: $font-primary;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: $black;
  cursor: pointer;
  text-decoration: none;
  border:none;
  height: 45px;
  transition: all 0.3s ease-in-out;

  &--yellow {
    background-color: $yellow;

    &:hover {
      background-color: $black;
      color: $yellow;
    }
  }
&--white {
	border-radius: 0;
	background-color: $white;
	border: 1px solid $black;

	&:hover {
		background-color: $black;
		color: $white;
	}
}

&--large{
  @include breakpoint(small-max) {
    @include font-size(22);
    height: 60px;
    padding: 20px 100px;
  }
}
}

button {
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
}