h1{
	@include font-size(40);
	line-height: 50px;
	@include breakpoint(small-max) {
        @include font-size(72);
		line-height: 72px;
    }
}
h2 {
	@include font-size(30);
	line-height: 40px;

	@include breakpoint(small-max) {
		@include font-size(50);
		line-height: 60px;
	}
}

h3 {
	@include font-size(25);
	line-height: 30px;

	@include breakpoint(small-max) {
		@include font-size(35);
		line-height: 40px;
	}
}

h4 {
	@include font-size(16);
	line-height: 20px;

	@include breakpoint(small-max) {
		@include font-size(20);
		line-height: 25px;
	}
}