* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include font-size(16);
  font-family: $font-primary;
  width: 100%;
  height: 100%;

  .fa {
    @include font-size(25);
    color: $black;
    &:hover {
    	color: $yellow;
    }
  }
}

.center {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  @include breakpoint(medium-tablet-max) {
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
}

:focus {
  outline: 0;
}

img {
  max-width: 100%;
}

.mb20 {
	margin-bottom: 20px;
}