.footer {
  width: 100%;
  padding: 20px 0;
  background-color: $black;
  margin-top: auto;
   position:absolute;
   bottom:0;

  &__inner {
	@include flexBox(center, center, space-between);
	padding: 0 20px;
}

  .footerLogo {
	display: inline-flex;
	width: 130px;
  }

    .iconContainer {
      a {
        display: inline-block;
        padding-left: 5px;
      }
      .fa {
        color: $white;
        &:hover {
          color: $yellow;
        }
      }
    }
  .copyright {
    @include font-size(10);
	margin-top: 20px;
  }
}
@include breakpoint(small-max) {
  .iconContainer {
    max-width: 20%;
    .fa {
      width: 30px;
      @include font-size(30);
    }
  }
}
