
footer {

.page_footer {

  width: 100%;
  height: 25vh;
  background-color: $black;
  margin-top: auto;

  #footerWrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    #footerLogo {
      width: 35%;
    }
    .iconContainer {
      width: 35%;

      display: flex;
      justify-content: space-evenly;
      .fa {
        color: $white;
      }
    }

      @include flexBox(row, center, end);

      a {
        display: inline-block;
        padding-left: 15px;
      }
      .fa {
        color: $white;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
  .copyright {
    @include font-size(10);

  }
  #copyright {
    text-align: center;
    color: $white;
    @include font-size(10);
    position: relative;
    top: -25px;
  }
}
