footer {
  width: 100%;
  height: 25vh;
  background-color: $black;

  #footerWrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    #footerLogo {
      width: 35%;
    }
    .iconContainer {
      width: 35%;
      display: flex;
      justify-content: space-evenly;
      .fa {
        color: $white;
      }
    }
  }
  #copyright {
    text-align: center;
    color: $white;
    @include font-size(10);
    position: relative;
    top: -25px;
  }
}
