.home-img-holder {
  background-image: url("img/watches/Breitling-klockor-herr.jpeg");

  .home-h1,
  .home-h3 {
    margin-bottom: 30px;
  }
}
.home-img-container {
  @include flexBox(column, center, center);
}

.home_show_btn {
  z-index: 1;
}

.category-item {
  position: relative;
  text-align: center;
  color: white;

  .home-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .home-title {
      font-size: 30px;
      margin-bottom: 15px;
    }
  }
}

.home-img-contain {
  img {
    height: 500px;
    width: 100%;
    filter: brightness(47%);
    background-color: rgba($black, 0.03);
    padding: 20px;
    position: relative;
    border-radius: 5px;
  }
}

.home-h3-container {
  display: flex;
  justify-content: center;

  .home-h3 {
    margin-top: 70px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

a {
  margin-bottom: 15px;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
