.home-img-holder {
  background-image: url("img/watches/Breitling-klockor-herr.jpeg");
  width: 100%;
  .home-h1,
  .home-h3 {
    margin-bottom: 30px;
  }
}
.home-img-container {
  @include flexBox(column, center, center);
}

.home_show_btn {
  z-index: 1;
}

.category-item {
  color: white;
  max-width: 500px;
  margin: 0;

  .home-text-container {
    position: relative;
    top: -20rem;
    padding: 0 2rem;
    text-align: center;

    .home-title {
      font-size: 30px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  }

  &:hover img {
    filter: brightness(22%);
    cursor: pointer;
  }
}

.home-img-contain {
  max-width: 500px;

  img {
    max-height: 500px;
    max-width: 500px;
    filter: brightness(47%);
    background-color: rgba($black, 0.03);
    padding: 20px;
    position: relative;
    border-radius: 5px;
  }

  img:hover:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
  }
  .img:hover {
    opacity: 1;
  }
}

.home-text-container:hover {
  cursor: pointer;
}

#categoriesHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-h3-container {
  display: flex;
  justify-content: center;

  .home-h3 {
    margin-top: 70px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.home-link {
  margin-left: 10px;
  text-decoration: underline;
  color: $black;
}
