.login_wrapper {
    @include flexBox(center, center, center);
    flex-direction: column;
}
.login_text {
  text-align: center;
  @include font-size(34);
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  min-width: 300px;
  margin: 0 auto;
  @include breakpoint(small-max) {
    max-width: 350px;
    min-width: 350px;
  }


  .login_linksContainer {

    a {
      display: block;
      text-align: center;
      margin: 16px;
      @include font-size(12);
      color: $black;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.user_dropdown {
  width: 25%;
  width: 40%;
  height: 30%;
  border: 1px solid;
  position: fixed;
  top: 75px;
  right: 2px;
  padding: 10px;
  background-color: $white;

  .closeDropdown {
    padding: 5px;
    @include font-size(24);
  }

  a {
    display: block;
    padding: 9px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.hide_userDropdown {
  display: none;
}
@include breakpoint(small-max) {
  .login_body {
    .login_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 4em;

      .login_form {
        max-width: 300px;
        #login_email_field,
        #login_password_field {
          @include font-size(15);
        }
        .login_linksContainer {
          margin: 2em;

          #login_forgotPassword,
          #login_registerAccount {
            display: inline;
            @include font-size(14);
          }
          #login_registerAccount {
            margin-left: 7em;
          }
        }
      }
    }
  }
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}
.form-footer {
  @include flexBox(center, center, space-between);
  width:100%;
  margin: 20px 0;
}

  .input_field{
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1.3px solid;
  }