main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
 
  #registration-form {
      display: flex;
      padding: 20px 100px;
      flex-direction: column;
      margin-top: 0px;
      h1 {
        font-size: 24px;
        align-self: center;

        margin-bottom: 20px;
      }
      .input-div{
        display: flex;
        flex-direction: row;
      .form-group-1, .form-group-2{
        display: flex;
        margin: 0px 20px 0 20px;
        flex-direction: column;
      }
    .form-group {
      display: flex;
      flex-direction: row;

        input {
          margin-top: 30px;
          border: 0;
          outline: 0;
          border-bottom: 1px solid black;
          font-size: 18px;
          padding: 3px 7px;
          width: 375px;
        }
        label{
  display: none
        }

    }
  }
    .btn{
        @include font-size(18);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 15px 40px;
        border-radius: 30px;
        font-family: $font-primary;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: 0.1px;
        color: $black;
        align-self: center;
        width: 55%;
        background-color: $yellow;
        cursor: pointer;
        margin-top: 35px;
        height: 45px;
        transition: all 0.3s ease-in-out;
    }
    .user-agreement{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 45px 0 5px 0;
        input{
            margin-left: 14px;
            align-self    : center;
        }
    }
  }
}
@media screen and (max-width: $screen-sm) {
    main{
  #registration-form{
  .input-div {

      flex-direction: column;
  }
  .btn{
      width: 40%;
  }
}
}
}