.search-field {
    pointer-events: all;
    visibility: hidden;
	opacity: 0;
    height: 7rem;
    top: 50px;
    position: absolute; 
    background: $light-white;	
	z-index: 999;
	display: flex;
    justify-content: space-between;
	left: 100%;
  	transform: translate(20px, 0);
	  margin: 0 -100vw;
	  width: 100vw;
	@include breakpoint(small-max) {
    height: 40rem;
	top: 74px;
  	left: 50%;
	right: 50%;
	width: 100vw;
  	margin: 0 -50vw;
	  transform: inherit;
  }

	&.search-open {
		visibility: visible;
		opacity: 1;	
	}
	&__wrap {
		padding:20px;
		width: 100%;
		@include flexBox(column, center, start);
		@include breakpoint(small-max) {
		padding:10rem;
	}
	}

	form {
	width: 100%;
	}
	.form-field {
	    position: relative;
    text-align: left;
	    max-width: 96rem;
    padding: 0 2rem;
	}

	input {
	font-size: 1rem;
    width: 100%;
    padding-bottom: 15px;
	background: none;
    border: none;
    border-bottom: 0.2rem solid $grey;
    color: $black;
    display: block;
	font-weight: 600;
    margin: 0 auto;
	text-overflow: ellipsis;
    text-transform: uppercase;
    transition: all .2s ease;
    white-space: nowrap;
		@include breakpoint(small-max) {
		font-size: 9rem;
		 padding-bottom: 2rem;
		}
	}
}

.search-close {
	width: 30px;
	height: 30px;
	border: 1px solid $grey;
	border-radius: 5px;
	position: absolute;
	right: 1rem;
	top: 1rem;
	@include breakpoint(small-max) {
	right: 5rem;
	top: 3rem;
		width: 40px;
	height: 40px;
	border: 2px solid $grey;
	}
}

.result-count-container {
	display: none;
	margin-top: 20px;
	padding: 0 35px;

	b {
		font-weight: 600;
	}
    
}

.search-hero{
	min-height:  300px;
	padding-top: 74px;
	background: rgba($black, .6);
	@include flexBox(column, center, center);

	p{
		@include font-size(22);
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

